.erlang.mk
.eunit
deps
*.o
*.beam
*.plt
build
dist
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
docker/rabbitmq_autocluster*ez
.vagrant
.idea
cover
plugins
autocluster.d
bin/rebar
rebar.lock
cobertura.xml
*.tgz
_build
/apps/autocluster_aws/autocluster_aws.d
/logs/
