%% rebar3 is used for unit-tests with coverage.


{erl_opts, [fail_on_warning, debug_info]}.
{minimum_otp_vsn, "17.5"}.

%% rabbitmq_aws is required for building autocluster itself, but all
%% other test deps will be injected from outside using ERL_LIBS
{deps, [
        {meck, "0.8.4"},
        {rabbitmq_aws,  {git, "https://github.com/gmr/rabbitmq-aws.git", {tag, "0.1.2"}}}
]}.

{plugins, [{rebar_covertool, {git, "https://github.com/idubrov/covertool", {ref, "be45cabc5dc28480176172425793923b6cde428d"}}}]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{eunit_exclude_deps, true}.
{eunit_opts, [verbose, {skip_deps, true}]}.

{dialyzer, [{plt_apps, all_deps},
            {plt_extra_apps, [rabbitmq_aws, rabbitmq_common, edoc, jsx, xmerl]}]}.
