{erl_opts, [fail_on_warning, debug_info]}.
{minimum_otp_vsn, "17.5"}.

{deps, [
  {meck, "0.8.4"},
  {rabbitmq_aws,  {git, "https://github.com/gmr/rabbitmq-aws.git", {tag, "0.1.2"}}},
  {rabbitmq_common,  {git, "https://github.com/jbrisbin/rabbit_common.git"}}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{eunit_exclude_deps, true}.
{eunit_opts, [verbose, {skip_deps, true}]}.

{dialyzer, [{plt_apps, all_deps},
            {plt_extra_apps, [rabbitmq_aws, rabbitmq_common, edoc, jsx, xmerl]}]}.
