Source: rabbitmq-autocluster
Section: net
Priority: extra
Maintainer: Alexey Lebedeff <binarin@binarin.ru>
Build-Depends: debhelper (>= 9),
  erlang-dev,
  erlang-nox (>= 17.3) | esl-erlang,
  rsync,
  build-essential,
  python,
  zip
Standards-Version: 3.9.5
Homepage: http://aweber.github.io/rabbitmq-autocluster/
Vcs-Git: https://github.com/aweber/rabbitmq-autocluster
Vcs-Browser: https://github.com/aweber/rabbitmq-autocluster

Package: rabbitmq-autocluster
Architecture: all
Depends: rabbitmq-server (>= 3.6.5.906)
Description: A RabbitMQ plugin that clusters nodes automatically using
       Consul, etcd2, DNS, or natively in AWS.
